@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

.container {
  width: fit-content;
  border-radius: 10px;
  padding: 15px;
  background-color: black;

  .container__input {
    margin-bottom: 50px;
    position: relative;
    text-align: center;

    input {
      width: 485px;
      height: 100px;
      margin-bottom: 40px;
      padding-right: 15px;
      border-radius: 5px;
      border: 5px solid purple;
      text-align: right;
      font-size: 50px;
      background: white;
    }

    div {
      text-align: center;

      button {
        width: 85px;
        height: 85px;
        background: transparent;
        margin-right: 25px;
        border-radius: 50%;
        border: 3px solid white;
        transition: 0.6s;
        color: white;
        font-size: 40px;

        &:hover {
          transform: rotate(360deg);
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .container__controls {
    div {
      width: 450px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px auto 0 auto;

      button {
        width: 100px;
        height: 80px;
        border: 3px solid white;
        transition: 0.3s;
        color: white;

        span {
          font-size: 100px;
        }

        &:hover {
          transform: scale(1.2) translate(20px, -20px);
          box-shadow: -5px 10px 25px purple;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    button {
      &:hover {
        transform: rotate(0) scale(1) translate(0) !important;
        box-shadow: 0 0 !important;
        color: white !important;
      }
    }
  }
}

@media (max-width: 768px) {
    .container {
      .container__input {
        margin-bottom: 40px;

        input {
          width: 340px;
          height: 70px;
          font-size: 33px;
        }

        div {
          button {
            width: 65px;
            height: 65px;
            margin-right: 15px;
            font-size: 25px;
          }
        }
      }

      .container__controls {
        div {
          width: 380px;

          button {
            width: 80px;
            height: 60px;
            font-size: 30px;

            span {
              font-size: 80px;
            }
          }
        }
      }
    }
}

@media (max-width: 425px) {
  .container {
    .container__input {
      margin-bottom: 30px;

      input {
        width: 310px;
        font-size: 31px;
        margin-bottom: 30px;
      }

      div {
        button {
          width: 55px;
          height: 55px;
        }
      }
    }

    .container__controls {
      div {
        width: 320px;

        button {
          width: 70px;
          height: 50px;
          font-size: 25px;

          span {
            font-size: 60px;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    .container__input {
      input {
        width: 250px;
        height: 55px;
        font-size: 27px;
      }

      div {
        button {
          width: 45px;
          height: 45px;
          margin-right: 10px;
          font-size: 20px;
        }
      }
    }

    .container__controls {
      div {
        width: 270px;

        button {
          width: 60px;
          height: 40px;
          font-size: 20px;

          span {
            font-size: 50px;
          }
        }
      }
    }
  }
}