* {
  font-family: 'Anybody', sans-serif;
}

#wrapper {
  min-height: 100vh;
  background: purple;
  opacity: 0.9;
}

.fa-e {
  margin-left: 5px;
}

.fa-circle {
  font-size: 20px;
}

button {
  transition: 0.3s;
  font-size: 40px;

  &:hover {
    color: purple !important;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-m {
  display: none;
  position: absolute;
  top: 60px;
  left: 45px;
  color: black;
  font-size: 40px;
}

@media (max-width: 768px) {
  .letter-m {
    top: 40px;
    left: 40px;
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .letter-m {
    top: 45px;
    left: 30px;
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .letter-m {
    top: 40px;
    left: 25px;
    font-size: 21px;
  }
}