@media screen and (max-width: 1200px) {
  button {
    &:hover {
      transform: rotate(0) scale(1) translate(0) !important;
      box-shadow: 0 0 !important;
      color: white !important;
    }
  }
}

@media screen and (max-width: 620px) {
  .let_m {
    top: 40px;
    left: 40px;
    font-size: 30px;
  }

  .input {
    margin-bottom: 40px !important;

    .result_inp {
      width: 340px !important;
      height: 70px !important;
      font-size: 33px !important;
    }
  }

  .memory {
    .memory__btn {
      width: 65px !important;
      height: 65px !important;
      margin-right: 15px !important;
      font-size: 25px !important;
    }
  }

  .controls {
    .controls__row {
      width: 380px !important;
    }

    .controls__btn {
      width: 80px !important;
      height: 60px !important;
      font-size: 30px !important;

      span {
        font-size: 80px !important;
      }
    }
  }
}

@media screen and (max-width: 490px) {
  .let_m {
    top: 35px;
    left: 30px;
    font-size: 25px;
  }

  .input {
    margin-bottom: 30px !important;

    .result_inp {
      width: 320px !important;
      font-size: 31px !important;
      margin-bottom: 30px !important;
    }
  }

  .memory {
    .memory__btn {
      width: 55px !important;
      height: 55px !important;
    }
  }

  .controls {
    .controls__row {
      width: 330px !important;
    }

    .controls__btn {
      width: 70px !important;
      height: 50px !important;
      font-size: 25px !important;

      span {
        font-size: 60px !important;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .let_m {
    top: 40px;
    left: 25px;
    font-size: 21px;
  }

  .input {
    .result_inp {
      width: 270px !important;
      height: 60px !important;
      font-size: 27px !important;
    }
  }

  .memory {
    .memory__btn {
      width: 50px !important;
      height: 50px !important;
      margin-right: 10px !important;
      font-size: 20px !important;
    }
  }

  .controls {
    .controls__row {
      width: 280px !important;
    }

    .controls__btn {
      width: 60px !important;
      height: 40px !important;
      font-size: 20px !important;

      span {
        font-size: 50px !important;
      }
    }
  }
}